.btn {
  height: 16px;
  padding: 15px 0;
  background-color: #7ca65c;
  margin-top: 20px;
  padding: 15px;
  max-width: 300px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1);
}
